{% extends 'settings/base.html' %}

{% block head %}
<script type="text/javascript" src="/static/js/ssh.js"></script>
{% endblock %}

{% block content %}
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
            <th>SSH Keys</th>
            <th style="text-align: right;"><!--<a class="btn" href="#">Add SSH key</a>--></th>
            </tr>
        </thead>
        <tbody>
            {% for key in keys %}
            <tr>
                <td><strong>{{ key.name }}</strong> (<small>{{ key.fingerprint }}</small>)</td>
                <td style="text-align: right;"><a class="btn btn-danger delete-ssh-key" rel="{{ key.fingerprint }}" href="javascript: void(0);">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="blank-radius">
    {% from 'helpers.html' import render_field %}
    <form action="/settings/ssh" method="post">
        {{ form.csrf_token }}
        <fieldset>
            <legend>Add an SSH Key</legend>
            <label>Key</label>
            {{ render_field(form.key, rows='5', class='input-xxlarge error') }}
            <br />
            {% if form.key.errors %}<span class="help-block"><span class="text-error">{{ form.key.errors[0] }}</p></span>{% endif %}
            <button type="submit" class="btn btn-success">Add key</button>
        </fieldset>
    </form>
</div>
{% endblock %}