<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta content="True" name="HandheldFriendly" />
        <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0; name='viewport'" />
        <title></title>
        <link rel="stylesheet" type="text/css" media="screen"  href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="screen"  href="/static/css/docs.css" />
        <link rel="stylesheet" type="text/css" media="screen"  href="/static/style.css" />
        <link rel="shortcut icon" href="/favicon.ico" />
    </head>

    <body>
        <div class="container-fluid">

            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <a class="brand" href="#">Flow</a>
                    <div class="nav">
                        <li><a href="#" class="active">Dashboard</a></li>
                        <li><a href="#">系统状态</a></li>
                    </div>
                    <div class="pull-right">
                        <a href="#" class="brand">Signout</a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="sidebar" class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav affix-top">
                        <li class="active"><a href="#">Profile</a></li>
                        <li><a href="#">Account Settings</a></li>
                        <li><a href="#">SSH Keys</a></li>
                    </ul>
                </div>

                <p class="lead">fatal: What do you think I am? A dashboard?</p>

                <div class="span9" id="content">
                    <table class="table table-bordered">
                        <thead>
                            <th>SSH Keys</th>
                            <th style="text-align: right;"><a class="btn" href="#">Add SSH key</a></th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>ratazzi (a4:df:ac:7f:20:68:a9:ad:50:f0:c5:c7:c6:81:84:4e)</td>
                                <td style="text-align: right;"><a class="btn btn-danger" href="#">Delete</a></td>
                            </tr>
                            <tr>
                                <td>company (fa:bf:9c:fe:c2:55:ec:80:5f:8b:77:e8:9e:25:40:1c)</td>
                                <td style="text-align: right;"><a class="btn btn-danger" href="#">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </body>
</html>
